*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #ffffff;
}
nav{
    max-width: 1600px;
    width: 100%;  
    margin: 0 auto;
    padding: 16px 24px;
    display: flex;
    align-items: center;
}
.logo img{
    width: 100%;
    height: auto;
}
.menu{
    list-style: none;
    display: flex;
    gap: 32px;
    margin: 0 auto; 
}
.menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}
.nav-btn{
    flex-shrink: 0;
}
.btn{
    background-color:#30B868;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
}