*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #ffffff;
}
nav{
    max-width: 1600px;
    width: 100%;  
    margin: 0 auto;
    padding: 16px 24px;
    display: flex;
    align-items: center;
}
.logo img{
    width: 100%;
    height: auto;
}
.menu{
    list-style: none;
    display: flex;
    gap: 32px;
    margin: 0 auto; 
}
.menu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}
.nav-btn{
    flex-shrink: 0;
}
.btn{
    background-color:#30B868;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
}
.hero-section {
    background:
                url('images/bck.png'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container {
    max-width: 800px;
    padding: 20px;
}

.early-access {
    border: 1px solid;
    display: inline-block;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
    background: #FFFFFF ;
    color: #469165;
}

.header-text {
    font-size: 60px;
    margin-bottom: 20px;
   
}

.header-text-color {
    color: #469165; 
}


.header-text-sm {
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 30px;
    line-height: 1.6;
}


.button-group a {
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 5px;
    font-weight: bold;
    margin: 10px;
    display: inline-block;
    transition: 0.3s;
}

.btn-green {
    background-color: #469165 ;
    color: white;
}

.btn-green:hover {
    background-color: #469165;
}

.btn-outline {
    border: 1px solid white;
    color: white;
}

.btn-outline:hover {
    background-color: white;
    color: black;
}